<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@100&family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
    <title>Making your Image</title>
    <style>
        body {
            background-color: black;
            color: mediumpurple;
        }

    </style>
</head>

<body>
    <p>stable diffusion result from Flask:</p>
    <div th:if="${imgFromFlask}">
        <img th:src="${imgFromFlask}" alt="gif">
    </div>

    <form action="/" method="post">
        <label for="userInput">Enter your text:</label>
        <input type="text" id="userInput" name="userInput">
        <button type="submit">Submit</button>
    </form>
</body>

</html>
