<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@100&family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/css/styleUpdate.css}">

  <title>update</title>

  <style>
  </style>
</head>

<body>
<br>

<main role="main" class="container">
  <div class="starter-template">
    <form role="update-form" th:action="@{'/board/post/edit/' + ${boardDto.id}}" method="post">
      <input type="hidden" name="_method" value="put"/>
      <input type="hidden" name="id" th:value="${boardDto.id}"/>

      제목 : <input type="text" name="title" th:value="${boardDto.title}"> <br>
      작성자 : <input type="text" name="writer" th:value="${boardDto.writer}"> <br>
      <textarea name="content" th:text="${boardDto.content}"></textarea><br>

      <div class="box-footer">
        <button type="submit" class="btn btn-primary">수정</button>
        <button type="submit" class="btn btn-warning">취소</button>
      </div>
    </form>

  </div>
</main>
</body>
</html>