<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@100&family=Roboto+Mono:wght@100&display=swap" rel="stylesheet">
  <title>글쓰기</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/styleWrite.css}">

  <style>

  </style>
</head>

<body>
<br>
<div>
  <a class="back-button" th:href="@{/security-login}">돌아가기</a>
</div>


<main class="container">
  <div class="page-header">
    <h1>게시글 등록</h1>
  </div>
  <div class="starter-template">
    <form class="form-horizontal" th:action="@{/board/post}" method="post" enctype="multipart/form-data" th:object="${boardCreateRequest}">
      <div class="form-group">
        <label style="float: left" for="title" class="col-sm-2 control-label">제목</label>
        <div class="col-sm-10" style="margin-top: 10px;">
          <input type="title" class="form-control" id="title" name="title" placeholder="제목"/>
        </div>
      </div>

      <div class="form-group">
        <label style="float: left" for="writer" class="col-sm-2 control-label">작성자</label>
        <div class="col-sm-10" style="margin-top: 10px;">
          <input type="writer" class="form-control" id="writer" name="writer" placeholder="작성자"/>
        </div>
      </div>

      <div class="form-group">
        <label style="float: left" for="content" class="col-sm-2 control-label">내용</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="content" name="content" placeholder="내용을 입력해 주세요."></textarea>
        </div>
      </div>

      <div class="form-group">
        <label style="float: left" th:for="uploadImage" class="col-sm-2 control-label">이미지 첨부</label>
        <div class="col-sm-10">
          <!--<input type = "file" th:field="*{uploadImage}" class="form-control" id="image" name="image">-->
          <input type = "file" class="form-control" id="uploadImage" name="uploadImage">
        </div>
      </div>

      <div class="btn_wrap text-center">
        <a th:href="@{/board/list}" class="btn btn-secondary">뒤로 가기</a>
        <button type="input" class="btn btn-primary waves-effect waves-light">저장 하기</button>
      </div>
    </form>
  </div>
</main>
</body>
</html>